.accessibility {
    position: relative;
    height: 75vh;
}

.background_set {
    background: url("/top_left_background.svg");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    height: 18rem;
}

.background_set img {
    position: absolute;
    top: 11rem;
    right:  13rem;
    width: 10rem;
}

.accessibility_container {
    position: absolute;
    top: 2rem;
    width: 45%;
    margin-left: 5rem;
}

.accessibility_container h1 {
    color: var(--colors-dark-000000100, #000);
    font-family: Expletus Sans;
    font-size: 2.5rem;
    font-weight: 700;
}

.accessibility_container h4 {
    color: var(--colors-gray-545454100, #545454);
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    padding: 1rem 0;
}


@media screen and (max-width: 1000px)  {
    .accessibility {
        height: 100%;
    }
    .background_set {
        background: url("/top_background.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 140%;
        height: 10rem;
    }
    .background_set img {
        top: calc(50% + 1rem);
        right: calc(50% - 3.5rem);
        width: 7rem;
    }
    .accessibility_container h1 {
        margin-bottom: 1rem;
    }
    .accessibility_container {
        position: static !important;
        margin: 0;
        margin: auto;
        margin-top: 5rem;
        width: 90%;
    }
}