.checkout {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left_side {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.checkout_details {
    padding: 2rem;
}

.checkout_delivery {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.checkout_delivery h2 {
    color: black;
    font-family: Noto Sans;
    font-size: 1.2rem;
    font-weight: 700;
}

.checkout_delivery_address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
}

.checkout_delivery_address_field {
    display: flex;
    flex-direction: column;
}

.checkout_delivery_address_field label {
    color: var(--colors-text-dark-111111100, #111);
    font-family: Noto Sans;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.checkout_delivery_address_field label span {
    color: var(--colors-error-100, #F00);
}

.checkout_delivery_address_field input {
    font-size: 1.1rem;
    padding: 0.2rem 0;
    padding-top: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(84, 84, 84, 0.16);
}

.wraper {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.checkout_delivery_address_field2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
}

.checkout_delivery_address_field2 input {
    accent-color: currentcolor;
    width: 0.8rem;
    height: 0.8rem;
    clip-path: circle(50% at 50% 50%);
}

.back_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
}

.checkout_details {
    width: 100
}

.right_side {
}

.checkout_summary_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout_summary_title h2 {
    color: var(--colors-text-dark-111111100, #111);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Expletus Sans;
    font-size: 1.2rem;
    font-weight: 700;
}

.checkout_summary_title span {
    color: var(--colors-text-dark-666666100, #626264);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 1.1rem;
    font-weight: 400;
}

.checkout_summary_items {
    height: 8rem;
    overflow: scroll;
}

.cart_addMore {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    font-size: 1.1rem;
    color: #545454cc;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

.cart_addMore:hover {
    border-radius: 0.5rem;
    background: rgba(128, 128, 128, 0.041);
}

.cart_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart_items_head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.cart_items_head h2 {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.5rem;
}
.cart_item_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.8rem;
    padding-left: 1rem;
}

.cart_item_img h2 {
    font-size: 1.3rem;
    font-family: Noto Sans;
    font-weight: 600;
}

.cart_item_img img {
    width: 5rem;
}
.cart_item_controls {
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding-right: 1rem;
}

.cart_item_controls_left svg, .cart_item_controls_right svg {
    width: 1rem;
    height: 1rem;
}

.cart_item_controls_left, .cart_item_controls_right {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(84, 84, 84, 0.16);
}

.cart_item_controls_right:hover {
    background: rgba(50, 224, 251, 0.10);
    border: 1px solid rgba(50, 224, 251, 0.10);
}

.checkout_delivery_address_time {
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    background: var(--colors-gray-f-5-f-5-f-5100, #F5F5F5);
    display: flex;
    width: fit-content;
    column-gap: 0.7rem;
    align-items: center;
}

.checkout_delivery_address_time h4 {
    color: #626264;
    font-family: Noto Sans;
    font-size: 1.2rem;
    font-weight: 400;
}

.right_side {
    display: flex;
    padding: 2rem 4rem;
    margin-right: 5rem;
    flex-direction: column;
}

.card_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.card_details h2, .promo_code_details h2 {
    color: var(--colors-text-dark-111111100, #111);
    font-family: Noto Sans;
    font-size: 1.2rem;
    font-weight: 700;
}

.card_details_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem
}

.promo_code_details {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.promo_code_details_input {
    border-radius: 24px;
    background: var(--colors-gray-f-5-f-5-f-5100, #F5F5F5);
    width: fit-content;
    padding: 0.5rem 1rem;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo_code_details_input input {
    border: none;
    outline: none;
    font-size: 1.3rem;
    background: transparent;
    color: var(--colors-gray-54545432, rgba(84, 84, 84, 0.5));
}

.promo_code_details_input button {
    border-radius: 12px;
    background: var(--colors-gray-54545432, rgba(84, 84, 84, 0.32));
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: white;
}

.order_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(84, 84, 84, 0.16);
    padding: 0.8rem 0;
}

.order_details h2 {
    color: var(--colors-secondary-100, #FF5029);
    font-family: Expletus Sans;
    font-size: 1.4rem;
    font-weight: 700;
}

.order_tip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tip_column {
    display: flex;
    border-radius: 10px;
    background: var(--colors-gray-f-5-f-5-f-5100, #F5F5F5);
    padding: 0.5rem 1rem;
    border: 2px solid white;
}

.order_tip_select {
    border: 2px solid var(--colors-primary-100, #32E0FB) !important;
    background: var(--colors-primary-10, rgba(50, 224, 251, 0.10)) !important;
}

.tip_column input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.3rem;
}

.order_button {
    padding: 0.8rem 0;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.Float_order_button {
    display: flex;
    flex-direction: column;
}

.card_addBottomMore {
    display: none;
}

@media screen and (max-width: 1000px) {
    .checkout {
        width: auto;
        height: auto;
        grid-template-columns: 1fr;
    }

    .back_container {
        position: absolute;
        right: 2.5rem;
    }

    .checkout_summary_title {
        margin-bottom: 2rem;
    }

    .checkout_summary_title a {
        display: none;
    }

    .checkout_summary_title h2 {
        font-size: 2rem !important;
    }
    
    .checkout_summary_title h2 span {
        font-size: 1.5rem !important;
    }

    .cart_item_img img {
        width: 6.5rem;
    }

    .cart_item_img {
        margin-bottom: 1rem;
        padding-left: 0;
    }

    .qty {
        margin-left: 5rem;
    }

    .cart_item_controls h4 {
        font-weight: 400;
    }

    .cart_items_head h2 {
        padding: 0 0;
    }

    .cart_items_head {
        margin-bottom: 0.5rem;
    }

    .card_addBottomMore {
        display: flex;
        width: fit-content;
        margin: 1rem;
        font-size: 1.4rem;
    }

    .checkout_delivery h2, .right_side h2 {
        font-size: 1.5rem !important;
        margin-bottom: 0.8rem;
    }

    .checkout_delivery label, .right_side label {
        font-size: 1.1rem !important;
    }

    .checkout_delivery input, .right_side input {
        font-size: 1.3rem !important;
    }

    .checkout_delivery_address {
        grid-template-columns: 1fr;
    }
    .left_side {
        grid-template-columns: 1fr;
    }
    .right_side {
        padding: 2rem !important;
        margin: auto;
    }
    .checkout_summary_items {
        height: auto;
        overflow: auto;
    }
    .promo_code_details_input {
        padding: 1rem;
    }
    .promo_code_details_input input {
        font-size: 1.5rem !important;
    }
    .promo_code_details_input button {
        padding: 0.8rem 1.5rem;
    }

    .tip_column input {
        width: 10rem;
        color: black;
    }

    .back_container {
        justify-content: flex-start;
        padding-left: 1.5rem;
    }

    .order_tip {
        margin-bottom: 12rem;
    }

    .Float_order_button {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1.5rem;
        background: white;
    }
}