.hero {
    width: 100%;
    display: flex;
    /* grid-template-columns: 4fr 6fr; */
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column-reverse;
}

.hero_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5rem;
    row-gap: 1.5rem;
    position: absolute;
    top: 12rem;
    z-index: 1;
    width: 27%;
}

.hero_left h1 {
    color: var(--colors-dark-000000100, #000);
    font-family: Expletus Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}

.hero_left h1 span {
    color: var(--colors-primary-100, #32E0FB);
    font-family: Expletus Sans;
    font-size: 2.8rem;
    font-style: normal;
}

.hero_left p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}

.hero_left p span {
    background: linear-gradient(90deg, #65D5E7 0%, #0487FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_right {
    display: flex;
    flex-direction: column;
    width: 130%;
}

.plates_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #76EAFC;
    clip-path: circle(40.4% at 50% -11%);
    transition: all 1s linear;
}

.plate_rope {
    margin-top: 5rem;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50%' ry='50%' stroke='%23333' stroke-width='4' stroke-dasharray='18' stroke-dashoffset='45' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 100px;
}

.plate_scrole_arrows {
    margin-left: 36rem;
    margin-top: -12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}

.plate_scrole_arrow svg {
    height: 2rem;
    width: 2rem;
}

.plate_scrole_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #76EAFC;
    padding: 1rem;
}

.categories_mid {
    padding:  3.5rem 5rem;
}

.categories_mid h2 {
    color: var(--colors-dark-000000100, #000);
    text-align: center;
    font-family: Expletus Sans;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2rem;
}

.categories_mid_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 1rem;
    width: fit-content;
    margin: auto;
}

.categories {
    margin-top: 8rem;
}

.categories h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--colors-dark-000000100, #000);
    font-family: Expletus Sans;
    font-size: 2.8rem;
    font-weight: 700;
}

.categories_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}

.categoryes_image {
    width: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorys {
    background: #F5F5F5;
    border-radius: 2rem;
    width: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categorys h3 {
    font-size: 0.95rem;
}

.categorys:hover {
    background: #EBFCFF;
}

.categoryes_image {
    margin-bottom: 0.6rem;
}

.categorys:hover .categoryes_image {
    background: #32E0FB;
    padding: 0.4rem;
}

.categorys:hover .categoryes_image svg {
    width: 5rem;
    height: 5rem;
    filter: invert(1);
}

.categories_select {
    background: #EBFCFF;
}

.categories_select .categoryes_image {
    background: #32E0FB;
}

.categories_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.how_it_work {
    margin-top: 8rem;
}

.how_it_work_top h1 {
    color: var(--colors-dark-000000100, #000);
    text-align: center;
    font-family: Expletus Sans;
    font-size: 2.8rem;
    font-weight: 700;
}

.how_it_work_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 12rem;
    width: fit-content;
    grid-gap: 5rem;
    margin: auto;
}

.how_it_work_card {
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.how_it_work_cards svg {
    width: 6rem;
    height: 6rem;
    margin-bottom: 0.7rem;
}

.how_it_work_cards img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.7rem;
}

.how_it_work_card h3 {
    font-family: Expletus Sans;
    font-size: 1.2rem;
}

.how_it_work_card p {
    font-family: Noto Sans;
    font-size: 1rem;
    margin-top: .6rem;
}

.customer_cards {
    padding: 0rem 12rem;
    padding-top: 3rem;
}

.customer_card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customer_card_right {
    width: 12rem;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    margin: 1rem;
}

.customer_card_right img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.customer_card_right span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.15));
}

.customer_card_right span img {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
}

.customer_card_left {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    margin-left: 4rem;
}

.customer_card_left_top {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
    text-align: left;
}

.customer_card_left_bottom_dots {
    display: flex;
    column-gap: 0.5rem;
}

/* .customer_card_left_bottom {
    display: block;
    height: 0.6rem;
    border-radius: 62.4375rem;
    background: var(--colors-primary-100, #32E0FB);
    cursor: pointer;
} */

.locations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--colors-text-light-f-7-fafc-100, #F7FAFC);
    margin: 5rem;
    padding: 5rem;
}

.locations_left {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 40%;
}

.locations_left h1 {
    font-family: Expletus Sans;
    font-size: 3rem;
}

.locations_right {
    margin-left: 2rem;
}

@media screen and (max-width: 1000px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero_left {
        position: unset;
        text-align: center;
        align-items: center;
        margin-left: 0;
        margin-top: 1.5rem;
        padding: 0 1.72rem;
        row-gap: 1rem;
        width: 85%;
    }

    .hero_left h1 {
        font-size: 1.5rem;
        order: 2;
    }

    .hero_left h1 span {
        font-size: 1.5rem;
    }

    .hero_left p {
        font-size: 1rem;
        order: 3;
        font-weight: 400;
    }

    .zipCode {
        order: 1;
    }

    .plate_scrole_arrows {
        display: none;
    }

    .plate_rope {
        width: 22rem;
    }

    .categories {
        margin-top: 3rem;
    }

    .categories_top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        grid-gap: 2rem;
    }

    .categories_mid {
        padding: 0 0;
    }

    .categories_mid_items {
        grid-template-columns: repeat(1, 1fr);
    }

    .how_it_work_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .locations_right img {
        width: 10rem;
    }

    .locations {
        margin: 1rem;
        padding: 2rem 1.5rem;
        flex-direction: column;
    }

    .locations_left h1 {
        font-size: 1.5rem;
    }

    .how_it_work_cards {
        padding: 2rem 0rem;
    }

    .customer_cards {
        padding: 1rem;
    }

    .customer_card {
        flex-direction: column;
    }

    .customer_card_left {
        margin-left: 0;
    }

    .customer_card_left_top {
        margin-bottom: 2.5rem;
    }

    .how_it_work {
        margin-top: 3rem;
    }

    .categories_bottom {
        margin-top: 2rem;
    }

    .categories_mid_items {
        row-gap: 2rem;
    }

    .categories_mid h2 {
        font-size: 1.6rem;
    }

    .categories_top {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 3rem;
    }

    .categories h1 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }

    .how_it_work h1 {
        font-size: 1.6rem;
    }

    .how_it_work_cards {
        row-gap: 2rem;
    }

    .how_it_work_card {
        width: 65%;
    }

    .locations_left {
        width: 100%;
    }

    .locations_right {
        margin: 0;
    }

    .locations_right img {
        margin-top: 1.5rem;
        width: 100%;
    }

    .plate_rope {
        width: 23rem;
        height: 23rem;
        clip-path: none !important;
    }

    .hero_right {
        width: 100%;
        height: 18rem;
        overflow: hidden;
    }

    .plates_container {
        clip-path: circle(50% at 50% 18%)
    }
}

@media screen and (min-width: 1400px) {
    .plate_scrole_arrows {
        margin-left: 38rem;
        width: 34%;
    }
}


@media screen and (min-width: 1435px) {
    .plate_scrole_arrows {
        margin-left: 41rem;
        width: 31%;
        margin-top: -10rem;
    }
}

@media screen and (min-width: 1500px) {
    .plate_scrole_arrows {
        margin-top: -9rem;
        margin-left: 43rem;
        width: 30%;
    }
}

@media screen and (min-width: 1550px) {
    .plate_scrole_arrows {
        margin-top: -7.5rem;
        margin-left: 46rem;
        width: 28%;
    }
}

@media screen and (min-width: 1600px) {
    .plate_scrole_arrows {
        margin-top: -12rem;
        margin-left: 59rem;
        width: 24.5%;
    }

    .plates_container {
        clip-path: circle(30.4% at 50% -11%);
    }
}