@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap");

* {
    padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    scrollbar-color: #555555b2 !important;
    scrollbar-width: thin !important;
    transition: all 0.4s ease;
    animation: fadeIn 0.4s ease-in-out;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

body {
    font-family: "Open Sans", sans-serif;
}

input::placeholder {
    color: rgba(84, 84, 84, 0.32);
}

#SpacePopup_1 {
    cursor: default;
}

::-webkit-scrollbar {
    width: 6px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888888a9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555b2;
}

:root {
    --primary-background: #32e0fb;
    --secondry-background: #ebfcff;
    --primary-text-color: #182135;
    --secondry-text-color: #626264;
    /* fonts */
    --t7: "Noto Sans";
    --t2: "Expletus Sans";
    --text-h5-bold: "Open Sans";

    /* font sizes */
    --t7-size: 0.88rem;
    --t4-size: 1rem;
    --t8-size: 0.75rem;
    --t2-size: 1.5rem;
    --font-size-21xl: 2.5rem;

    /* Colors */
    --font-l-f1-title: #3c4049;
    --background-l-b9-primary-default: #2e4aff;
    --background-l-b10-primary-hover: #6378ff;
    --font-l-f6-buttons: #fff;
    --foundation-neutral-neutral-500: #000;
    --foundation-neutral-neutral-200: #8a8a8a;
    --colors-text-dark-182135-100: #182135;
    --foundation-neutral-neutral-50: #e6e6e6;
    --foundation-primary-primary-500: #32e0fb;
    --foundation-primary-primary-50: #ebfcff;
    --foundation-neutral-neutral-300: #545454;
    --foundation-info-info-100: #e0e4ff;
    --foundation-warning-warning-100: #fff7cc;

    /* Gaps */
    --gap-base: 1rem;
    --gap-xs: 0.75rem;

    /* Paddings */
    --padding-base: 1rem;
    --padding-5xl: 1.5rem;

    /* border radiuses */
    --br-10xs: 3px;
    --br-9xs: 4px;
    --br-base: 16px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-background: #32e0fb;
        --secondry-background: #ebfcff;
        --primary-text-color: #182135;
        --secondry-text-color: #626264;
        /* fonts */
        --t7: "Noto Sans";
        --t2: "Expletus Sans";
        --text-h5-bold: "Open Sans";

        /* font sizes */
        --t7-size: 0.88rem;
        --t4-size: 1rem;
        --t8-size: 0.75rem;
        --t2-size: 1.5rem;
        --font-size-21xl: 2.5rem;

        /* Colors */
        --font-l-f1-title: #3c4049;
        --background-l-b9-primary-default: #2e4aff;
        --background-l-b10-primary-hover: #6378ff;
        --font-l-f6-buttons: #fff;
        --foundation-neutral-neutral-500: #000;
        --foundation-neutral-neutral-200: #8a8a8a;
        --colors-text-dark-182135-100: #182135;
        --foundation-neutral-neutral-50: #e6e6e6;
        --foundation-primary-primary-500: #32e0fb;
        --foundation-primary-primary-50: #ebfcff;
        --foundation-neutral-neutral-300: #545454;
        --foundation-info-info-100: #e0e4ff;
        --foundation-warning-warning-100: #fff7cc;

        /* Gaps */
        --gap-base: 1rem;
        --gap-xs: 0.75rem;

        /* Paddings */
        --padding-base: 1rem;
        --padding-5xl: 1.5rem;

        /* border radiuses */
        --br-10xs: 3px;
        --br-9xs: 4px;
        --br-base: 16px;
    }
}


.button_main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--corner-radius-2, 0.75rem);
    background: var(--primary-background);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: #000;
    padding: 0.6rem 1.1rem;
    column-gap: 0.6rem;
}

.button_main:hover {
    background: #2cbed4;
}

.button_second {
    font-family: Noto Sans;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 1.25rem;
    background: var(--primary-background);
    backdrop-filter: blur(2px);
    cursor: pointer;
}

.button_second:hover {
    background: #2cbed4;
}

.button_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_main span {
    display: flex;
    background: black;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.dish_a {
    width: 8rem;
    transform: translateX(-36px) translateY(100px);
}

.dish_b {
    width: 8rem;
    transform: translateX(80px) translateY(-65px);
}

.dish_c {
    width: 8rem;
    transform: translateX(200px) translateY(100px);
}

.dish_d {
    width: 8rem;
    transform: translateX(60px) translateY(350px);
}

.dish_e {
    width: 8rem;
    transform: translateX(218px) translateY(250px);
}

.dish_f {
    width: 8rem;
    transform: translateX(-137px) translateY(120px);
}

.dish_g {
    width: 14rem;
    transform: translateX(-85px) translateY(25px);
}

.dot {
    height: 0.5rem !important;
    border-radius: 62.4375rem !important;
    background: var(--colors-primary-100, #32E0FB) !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

.selected {
    width: 2.5rem !important;
}

.carousel-status {
    display: none;
}

.control-dots {
    left: -9.5rem;
}

.control-arrow {
    display: none;
}

@media screen and (max-width: 1000px) {
    .control-dots {
        left: 0 !important;
    }
    
    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: -webkit-fill-available !important;
    }

    .button_main {
        padding: 0.7rem 1.2rem;
    }

    .dish_a {
        width: 6rem;
        transform: translateX(-28px) translateY(45px);
    }
    
    .dish_b {
        width: 6rem;
        transform: translateX(40px) translateY(-50px);
    }
    
    .dish_c {
        width: 6rem;
        transform: translateX(95px) translateY(53px);
    }
    
    .dish_d {
        width: 6rem;
        transform: translateX(285px) translateY(130px);
    }
    
    .dish_e {
        width: 6rem;
        transform: translateX(40px) translateY(210px);
    }
    
    .dish_f {
        width: 6rem;
        transform: translateX(-214px) translateY(115px);
    }
    
    .dish_g {
        width: 10rem;
        transform: translateX(110px) translateY(-105px) !important;
    }
}