.categories_mid h2 {
    color: var(--colors-dark-000000100, #000);
    text-align: center;
    font-family: Expletus Sans;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2rem;
}

.categories_mid_item {
    display: flex;
    width: fit-content;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 1.5rem;
    background: #FFF;
    justify-content: center;
}

.categories_mid_item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.categories_mid_item img {
    width: 20rem;
}

.categories_mid_item_mid {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0.7rem;
}

.categories_mid_item_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.categories_mid_item_bottom_controler {
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
}

.categories_mid_item_bottom_controler_left svg, .categories_mid_item_bottom_controler_right svg {
    width: 1rem;
    height: 1rem;
}

.categories_mid_item_bottom_controler_left, .categories_mid_item_bottom_controler_right {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(84, 84, 84, 0.16);
}

.categories_mid_item_bottom_controler_right:hover {
    background: rgba(50, 224, 251, 0.10);
    border: 1px solid rgba(50, 224, 251, 0.10);
    cursor: pointer;
}

.categories_mid_mid_left_bottom {
    font-size: 0.8rem;
    font-weight: 600;
    color: #626264;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;
}

.categories_select_container {
    background: var(--colors-dark-00000016, rgba(0, 0, 0, 0.16));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    z-index: 15;
    display: none;
}

.categories_select_card {
    width: 22rem !important;
    height: 35rem !important;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.categories_mid_item_top img {
    width: 20rem;
    height: 12rem;
    border-radius: 1.5rem;
}

.selct_card_image {
    height: 13.15rem;
}

.categories_select_card_head {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.categories_select_card_cross_icon {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
    border-radius: 50%;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 7;
}

.categories_select_card_popup_card_body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 2rem;
    padding-bottom: 1rem;
}

.categories_select_card_popup_card_body p{
    word-break: break-all;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.categories_select_card_popup_card_body_list ul {
    list-style: none;
}

.categories_select_card_popup_card_body_list li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgba(128, 128, 128, 0.486); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
}

/* transform up keyframe buncing */
@keyframes transformUp {
    0% {
        transform: translateY(100%);
    }
    90% {
        transform: translateY(-8%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 1000px) {
    .categories_mid_item {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .categories_mid_item img {
        width: 16rem;
    }

    .categories_select_card {
        width: 100% !important;
        height: 80vh !important;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .categories_select_container {
        animation: transformUp 0.6s ease-in-out;
        align-items: flex-end;
        z-index: 15;
    }

    .categories_select_card_popup_card_body {
        padding-bottom: 3rem;
        text-align: start;
    }

    .categories_select_card_popup_card_body p {
        text-align: start;
        margin-top: -1.5rem;
    }

    .categories_select_card_popup_card_body_list {
        color: #696969;
    }
}