.mid_zip_row {
    margin-top: 2rem;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex: 1 0 0;
    background: var(--colors-primary-100, #32E0FB);
}

.mid_zip_row h1 {
    font-family: Expletus Sans;
    font-size: 2.3rem;
}

@media screen and (max-width: 1000px) {
    .mid_zip_row {
        padding: 2rem 1.5rem;
    }

    .mid_zip_row h1 {
        font-size: 1.6rem;
    }
}