.zipCode {
    display: flex;
    width: 22rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    align-items: center;
    border-radius: 1.1rem;
    background: var(--colors-gray-f-5-f-5-f-5100, #F5F5F5);
    justify-content: space-between;
}

.zipCode input {
    color: black;
    font-family: Noto Sans;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    width: 10rem;
    background: none;
    border: none;
    outline: none;
}

.zipCode button {
    display: flex;
    padding: 0.6rem 1.5rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 0.6rem;
    background: var(--colors-primary-100, #32E0FB);
}

@media screen and (max-width: 1000px) {
    .zipCode {
        padding: 0.8rem 0.9rem;
        margin-bottom: 0.5rem;
    }

    .zipCode button {
        padding: 0.3rem 1.5rem;
    }
}